@import url('https://fonts.googleapis.com/css?family=Changa+One|Press+Start+2P');

* {
  margin: 0;
  padding: 0;
}

#start, #strict, #on-off, .square {
  cursor: pointer;
}

#wrapper, #board {
  font-family: "Changa One";
  color: #333;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  background: #333;
}

#board {
  max-width: 100vh;
  margin: 0 auto;
  border-radius: 50%;
  z-index: 99;
}

.count {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#count {
  font-family: "Press Start 2P";
  color: #bbb;
  background: #333;
  border: 2px solid #222;
  color: rgba(87, 3, 3, 0.66);
}

.square {
  width: calc(50% - 20px);
  height: calc(50% - 20px);
  transition: all .2s ease-in-out;
  border: 10px solid #333;
}

.square1 {
  background: #65bf68;
  border-top-left-radius: 100%;
}

.square2 {
  background: #dc3b33;
  border-top-right-radius: 100%;
}

.square3 {
  background: #f6ed48;
  border-bottom-left-radius: 100%; 
}

.square4 {
  background: #398acb;
  border-bottom-right-radius: 100%;
}

#control-box {
  position: absolute;
  border: 20px solid #333;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  margin-top: -120px;
  margin-left: -120px;
  width: 200px;
  height: 200px;
  text-align: center;
  background: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 100;
}

#controls {
  display: flex;
  justify-content: space-around;
}

.title {
  font-size: 2rem;
}

.pressed {
  transform: scale(0.98);
  box-shadow: inset 0px 0px 100px rgba(255, 255, 255, 0.8);
}

.winner {
  box-shadow: inset 0px 0px 100px rgba(255, 255, 255, 0.9);
}

.start {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#start-button, #strict-button {
  border: 2px solid #333;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #B30202;
  margin: 0 auto;
}

#strict {
  position: relative;
}

#strict-button {
  background: #CACA02;
}

.strict-light {
  width: 5px;
  height: 5px;
  border: 2px solid #333;
  background: #520000;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  left: 50%;
  margin-left: -5px;
}

.strict-light-on {
  background: red;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #666;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}